@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white dark:bg-neutral-950 text-neutral-900 dark:text-neutral-100;
  }
}